
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid color: black">
        <div class="navbar-header padding-top-half">
            <a class="navbar-brand" ng-click="model.backToSearch()">PHDdesktop</a>
        </div>

        <ul class="nav navbar-nav navbar-right padding-top-one  margin-right-one">
            <!--<li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>-->
            <div ng-switch="model.loggedin">
                <li ng-switch-when=false><a href="#/login" class="white"><span class="glyphicon glyphicon-log-in"></span> Login &nbsp &nbsp &nbsp</a></li>
                <li ng-switch-when=true class="margin-right-one">
                    <a ng-href=" #/author/{{model.userId}}"><span class="navbar-brand "></span> {{model.username}}</a>
                    <!--<p ng-click="model.goToAuthorSummary()"><span class="navbar-brand "></span> As Author</p>-->
                    <a href="#/landing"><span class="glyphicon glyphicon-log-out margin-left-one"></span> Logout</a>
                </li>
            </div>
        </ul>

    </div>
</nav>








<div class="container padding-top-three">
    <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"> Papers you are the  <b>author</b> </i>
    <ul class="list-group padding-top-three">
        <div class="container">



            <br><br>
            <div ng-repeat="DOI in model.DOIs">

                <a ng-href="#/details/{{DOI.split(',')[0]}}/{{DOI.split(',')[1]}}/0/{{model.userId}}"  class="list-group-item mouse_click" style="color: #1b6d85">


                    {{DOI.split(',')[1]}}
                    <!--<p>USER {{evaluation.userId}}        AT DATE : {{evaluation.dateCreated}}</p>-->
                    <!--<p>QUALITY OF RESEARCH = {{evaluation.eval1}}</p>-->
                    <!--<p>EASY TO UNDERSTAND = {{evaluation.eval2}}</p>-->
                    <!--<p>ENGLISH FLUENCY = {{evaluation.eval3}}</p>-->
                    <!--<p>RELEVANCE TO MY RESEARCH {{evaluation.eval4}}</p>-->

                    <!--<a ng-click="model.goToEditNote(note._id)"><span class="glyphicon glyphicon-cog pull-right"></span></a>-->
                </a>
            </div>
            </div>
    </ul>




<br><br>

<hr>

<br><br>



    <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"> Papers you have  <b>visited</b> </i>
    <br><br>
<table class="table table-striped table-bordered table-hover ">
    <thead class="thead-inverse  ">
    <tr class="text-center">
        <th class="text-center">Article Name</th>
        <th class="text-center">Color</th>

        <!--<th>Image</th>-->
    </tr>
    </thead>
    <tbody>



    <tr ng-repeat="color in model.colors" class="text-center" >


        <td>{{color.articleTitle}}</td>

        <td >

            <div ng-switch="{{color.colorNo}}">
                <div ng-switch-when='1'><p> </p><h5><span class="label label-default lab">&nbsp   &nbsp</span></h5></div>
                <div ng-switch-when='2'><p>  </p><h5><span class="label label-primary lab">&nbsp  &nbsp</span> </h5></div>
                <div ng-switch-when='3'><p>  </p><h5><span class="label label-success lab">&nbsp  &nbsp</span></h5></div>
                <div ng-switch-when='4'><p>  </p><h5><span class="label label-warning lab">&nbsp  &nbsp</span></h5></div>
                <div ng-switch-when='5'><p>  </p><h5><span class="label label-danger lab">&nbsp  &nbsp</span></h5></div>
            </div>


        </td>

    </tr>

    </tbody>
</table>

    <br>
    <br>
    <a ng-click="model.backToSearch()" class="btn btn-primary btn-block fa fa-chevron-left">&nbsp&nbspBack</a>
</div>


