<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid color: black">
        <div class="navbar-header padding-top-half">
            <a class="navbar-brand" href="#">PHDdesktop</a>
        </div>

        <ul class="nav navbar-nav navbar-right padding-top-one  margin-right-one">
            <!--<li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>-->
            <div ng-switch="model.loggedin">

                <li ng-switch-when=false>
                    <div class="margin-right-one">
                        <a ng-href="#/login" class="white"><span class="glyphicon glyphicon-log-in "></span> Login</a>
                    </div>
                </li>
                <li ng-switch-when=true class="margin-right-one white">
                    <a ng-href=" #/author/{{model.userId}}"><span class="navbar-brand white"></span> {{model.username}}</a>

                    <a href="#/landing"><span class="glyphicon glyphicon-log-out margin-left-one "></span> Logout</a>
                </li>
            </div>
        </ul>

    </div>
</nav>
<img src="landing.png" id="bg" alt="">

<!---->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">PHDdesktop</a>-->
        <!--</div>-->


            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<div ng-switch="model.loggedin">-->
                    <!--<li ng-switch-when=false><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
                    <!--<li ng-switch-when=true><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
                <!--</div>-->
            <!--</ul>-->
    <!--</div>-->
<!--</nav>-->


<!--{{model}}-->

<h2 class="colororange text-center padding-top-one big-font" > PhD Desktop</h2>
<h5 class="colororange text-center padding-top-one "> Keep Track of Your Research ...</h5>
<div class="container-fluid ">

    <!--<p>ex. ARDS ventlation pressure volume</p>-->
    <!--{{model.articles}}-->
    <div class="input-group input-lg padding-top-one">
        <input ng-model="model.title" type="text" class="form-control" placeholder="find your articles here ...">
        <span class="input-group-btn">
        <button ng-click= "model.searchArticleByTitle(model.title)" class="btn btn-secondary" type="button">Go!</button>
        </span>
    </div>


</div>
